In [4]:
from pyspark.sql import *
from pyspark.sql.functions import *
from pyspark import SparkContext
from pyspark.sql import SQLContext

import pandas as pd

import math

In [5]:
spark = SparkSession.builder.getOrCreate()  # creamos una instancia de la clase SparkSession
sc = spark.sparkContext # creamos una instancia de la clase SparkContext

23/10/04 19:08:53 WARN Utils: Your hostname, fe resolves to a loopback address: 127.0.1.1; using 192.168.68.71 instead (on interface enp0s3)
23/10/04 19:08:53 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/10/04 19:08:54 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
23/10/04 19:08:54 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
23/10/04 19:08:54 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.
23/10/04 19:08:54 WARN Utils: Service 'SparkUI' could not bind on port 4042. Attempting port 4043.
23/10/04 19:08:54 WARN Utils: Service 'SparkUI' could not bind on port 4043. Attempting port 4044.

In [6]:
sqlContext = SQLContext(sc)
df = sqlContext.read.option("delimiter", ",").option("escape", '"').csv("./dataset/googleplaystore.csv", header = True, inferSchema = True)

/home/lu/.local/lib/python3.10/site-packages/pyspark/sql/context.py:113: FutureWarning: Deprecated in 3.0.0. Use SparkSession.builder.getOrCreate() instead.
  warnings.warn(

In [7]:
rdd = df.rdd
rdd.count()

10841

In [10]:
# Obtener el tipo de datos de la segunda columna
rdd.map(lambda x: type(x[3])).first()

str

In [14]:
a = rdd.map(lambda x: int(x[3]))

In [19]:
rdd = sc.parallelize(["1.0", "2.0", "3.0"])
float_rdd = rdd.map(lambda x: float(x))
total_sum = float_rdd.sum()

## Ejemplo de `reduce`

In [75]:
# Obtener los registros que no son float y que no son NaN
rdd_nan = rdd.filter(lambda x: not isinstance(x[2], float) or not math.isnan(x[2]))
# sumamos registros de la columna Rating
rdd_nan.map(lambda x: x[2]).sum()

# Otra forma de hacerlo
rdd_nan.map(lambda x: x[2]).reduce(lambda x, y: x + y)

39279.00000000005

In [37]:
# Crear un RDD de ejemplo
rdd = sc.parallelize([(1, "foo"), (2, "bar"), (3, "baz")])

# Obtener el tipo de datos de la segunda columna
column_type = rdd.map(lambda x: type(x[1])).first()

print("El tipo de datos de la segunda columna es:", column_type)

El tipo de datos de la segunda columna es: <class 'str'>

In [ ]:
# Eliminar los valores NaN de la columna 'Rating'
rdd.filter(lambda x: not isnan(x[2])).count()

In [6]:
from operator import add

def sum_ratings(a, b):
    return a + b

ratings_rdd = rdd.filter(lambda x: x['Rating'] != 'nan')

In [ ]:
filtered_rdd = rdd.filter(lambda x: x is not None and not math.isnan(x))
filtered_rdd.count()

In [ ]:
# Convertimos a dataframe
df = filtered_rdd.toDF()

In [ ]:
# Filtramos los datos faltante nan de la columna Rating
ratings_df = rdd.filter(ratings_df['Rating'] != 'nan')

In [6]:
import math
rdd = sc.parallelize([1, 2, None, 4, None, 6, float('nan')])
filtered_rdd = rdd.filter(lambda x: x is not None and not math.isnan(x))

In [7]:
filtered_rdd.collect()

[1, 2, 4, 6]