In [19]:
from nltk import word_tokenize
import nltk
nltk.download('punkt')
nltk.download('wordnet')
nltk.download('stopwords') #Capaz antes de usar nltk les pide que descarguen estas cositas

[nltk_data] Downloading package punkt to /home/lu/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.
[nltk_data] Downloading package wordnet to /home/lu/nltk_data...
[nltk_data] Downloading package stopwords to /home/lu/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [24]:
s = "I was going to 1 4.5 the. cinema with, my friends"
word_tokenize(s)

['I',
 'was',
 'going',
 'to',
 '1',
 '4.5',
 'the',
 '.',
 'cinema',
 'with',
 ',',
 'my',
 'friends']

# `CountVectorizer`

Ejemplo sacado de [link](https://towardsdatascience.com/basics-of-countvectorizer-e26677900f9c)

In [46]:
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer

In [51]:
text = ["uno dos tres",
        "dos cuatro cinco",
        "uno cinco tres"]

coun_vect = CountVectorizer()   # Crear objeto

count_matrix = coun_vect.fit_transform(text)    # Crear matriz de conteo

# Para tener una mejor visualizacion de los datos.
count_array = count_matrix.toarray()    # Convertir a array
df = pd.DataFrame(data=count_array, columns=coun_vect.get_feature_names_out()) 
df

   cinco  cuatro  dos  tres  uno
0      0       0    1     1    1
1      1       1    1     0    0
2      1       0    0     1    1

In [47]:
# Ver que parametros uso CountVectorizer
coun_vect.get_params()

{'analyzer': 'word',
 'binary': False,
 'decode_error': 'strict',
 'dtype': numpy.int64,
 'encoding': 'utf-8',
 'input': 'content',
 'lowercase': True,
 'max_df': 1.0,
 'max_features': None,
 'min_df': 1,
 'ngram_range': (1, 1),
 'preprocessor': None,
 'stop_words': None,
 'strip_accents': None,
 'token_pattern': '(?u)\\b\\w\\w+\\b',
 'tokenizer': None,
 'vocabulary': None}